.config/*
!.config/eza/
!.config/atuin/
!.config/ghostty/
!.config/nvim/
!.config/kitty/
!.config/tmux/
!.config/nushell/
!.config/starship.toml
!.config/gh-dash/
!.config/yazi/
!.config/mise/
!.config/gh/
!.config/gh-dash/
flavors/
# preview.png

# rust build folder
target/
